<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <h2>Login</h2>
    <table>
        <form action="#" th:action="@{/admin}" th:object="${userModel}" method="post">
        <tr> Username: <input type="text" value="Enter username" th:field="*{userId}"/> </tr><p></p>
        <tr> Password: <input type="password" value="Enter password" th:field="*{password}"/> </tr><p></p>
        <input type="submit" value="Submit"></input>
        <input type="reset" value="Reset"></input>
        </form>
    </table>

</head>
<body>

  <!-- <p th:text="'id: ' + ${greeting.id}" />-->
</body>
</html>